/*  Biu.sass 
 *  Author: forever.fantasy27@gmail.com
 *  Create: 2013-09-04
 *  Update: 2013-09-04 20:00
 */

// remove default margin and padding for elements
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code, form,
fieldset, legend, input, button, textarea, p, blockquote, th, td,
nav, article, footer, header, canvas
    margin: 0
    padding: 0

// Colors
// Black(1~9)
$black: #545652
// Gray(1~9)
$gray: #d5d5d5
// White(1~9)

// Global
body
    font-family: Georgia, Garamond, Times, "Times New Roman", serif
ol, li
    list-style: none

// Navs
.navbar
    width: 100%
    background-color: $black
    color: $gray
    li
        display: inline-block
        font-size: 21px

// Menus

// Buttons

// Forms

// Tabs

// Icons

// Plugins
