/*
   Biu - A Basic UI Library for building web sites

   Author: SFantasy (me@shaofantasy.cn)
*/

/* Global configuration */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
div, body, ul, li, ol, h1, h2, h3, h4, small, pre, p{
  margin: 0;
  padding: 0;
}

.container, .inner {
  margin: 0 auto;
  width: 980px;
}
ul, li, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar a:active, .navbar a:link, .navbar a:hover, .navbar a:visited {
  color: #d5d5d5;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Navigator Bar */
.navbar {
  height: 28px;
  width: 100%;
  color: #d5d5d5;
  font-size: 13px;
  background-color: #545652;
  overflow: visible;
}

.nav-items  li {
  display: inline-block;
  line-height: 28px;
}

.nav-items a {
  padding: 0 12px;
}

.nav-items a.active {
  padding: 15px 20px;
  font-size: 14px;
  color: #fff;
  background-color: #077;
}
.nav-top-fixed, .nav-buttom-fixed {
  position: fixed;
  margin-bottom: 0;
}

.nav-top-fixed {
  top: 0;
}

.nav-buttom-fixed {
  buttom: 0;
}

/* intro-unit */
.intro-unit {
  padding: 40px 0 20px 0;
  background-color: #edf4ed;
}

.intro-unit h1 {
  font-size: 50px;
  font-weight: bold;
}

.intro-unit small {
  font-size: 15px;
  color: #777;
}

/* hlist (home list) */
.hlist {
  margin: 40px 0 10px 0;
}

.hlist h2 {
  font-size: 18px;
  color: #075;
  margin: 10px 0 20px 0;
  border-bottom: 1px solid #eeeeee;
}

/* Footer */
.footer {
  text-align: center;
  margin-top: 70px;
}
/* Layouts */
.row {
  margin-left: -10px;
  margin-bottom: 20px;
}

.row:after {
  clear: both;
}

.row:before, .row:after {
  display: table;
  line-height: 0;
  content: "";
}

[class*="span"] {
  float: left;
  margin-left: 10px;
}

#showlayout [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  min-height: 40px;
  line-height: 40px;  
}
.span1 {
  width: 89px;
}

.span2 {
  width: 188px;
}

.span3 {
  width: 287px;
}

.span4 {
  width: 386px;
}

.span5 {
  width: 485px;
}

.span6 {
  width: 584px;
}

.span7 {
  width: 683px;
}

.span8 {
  width: 782px;
}

.span9 {
  width: 881px;
}

.span10 {
  width: 980px;
}

.offset1 {
  
}
/* Color */

